/* main page */
.content-con{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banner-con{
	width: 100%;
	height: 800px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner-con img{
	width: 150%;
	position: absolute;
	top: 0;
	left: 0;
    z-index: 1;
}
.background-shadow{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.411);
	position: absolute;
	top: 0;
	left: 0;
    z-index: 2;
}
.intro-con{
	text-align: center;
	color: white;
	z-index: 3;
}
.intro-con {
	padding: 40px 50px;
	background-color: rgba(0, 0, 0, 0.555);
}
.intro-con h1{
	margin-bottom: 20px;
}
.intro-con p{
	margin-bottom: 5px;
}
.intro-con .lets-go{
	margin-top: 40px;
}
.intro-con a{
	background-color: rgba(255, 255, 255, 0.719);
	padding : 10px 20px;
	border-radius: 10px;
}
.intro-con a:hover{
	background-color: white;
}